* {
    margin: 0;
    padding: 0;
}

a i {
    color: white;
    font-size: 25px;
    margin: 0px 10px;
}

span {
    margin-left: 10px;
}

body {
    background-color: #333333;
    width: 100%;
    color: white;
    margin: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}


header {
    width: 100%;
    padding-top: 30px;
    height: 60px;
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    box-shadow: -7px 7px 10px #111;
    z-index: 999;
    position: fixed;

}

h2 span {
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
}

.color_lihgtBlue {
    color: lightblue;
}

.color_dodgerBlue {
    color: dodgerblue;
}

.color_yellow {
    color: #dbdba9
}

#container {
    position: relative;
}

nav {
    margin-right: 10px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0px;

}

nav ul li a {
    text-decoration: none;
    color: #bbb;
    padding: 10px 10px;
    font-size: 18px;

}

nav ul li:hover a {
    color: white;
}

#content {
    width: 100%;
    height: 1000px;
    margin: 0px;
}

#backBox {
    background-color: #252526;
    width: 40%;
    height: 100%;

}

#box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    box-shadow: -7px 7px 10px #111;

}

#second {
    background-color: #2d2d2d;
    width: 800px;
    height: 700px;

}

#topbox1 {
    background-color: #1e1e1e;
    width: 170px;
    height: 35px;
}

#topbox1 p {
    padding-top: 3%;
    text-align: center;
}

#topbox2 {
    background-color: #1e1e1e;
    width: 100%;
    height: 20px;
    padding: 7px 0;
}

#topbox2 p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
    opacity: .6;
    margin-left: 10px;
}

#memberList {
    background-color: #1e1e1e;
    width: 100%;
}
thead{
    text-align: center;
    font-size: 23px;
    color:lightblue;
}
tbody{
    text-align: center;
    color: #c58b73;
    margin: 10px 0;
    height: 600px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #007acc;
    text-align: center;
    display: flex;
    padding: 10px;
}